# Cleaning Data for Analysis

Import Data

In [5]:
import pandas as pd

# load data
df = pd.read_csv('./raw_data/kenpom_barttorvik_raw.csv')
df

,YEAR,CONF,CONF ID,QUAD NO,QUAD ID,TEAM NO,TEAM ID,TEAM,SEED,ROUND,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,2025,MAC,17,66,2,1147,2,Akron,13,64,...,19,361,364,73,149,86,239,25,145,305
1,2025,SEC,28,66,2,1146,3,Alabama,2,8,...,1,57,4,261,32,211,92,9,174,1
2,2025,SWAC,31,68,4,1145,4,Alabama St.,16,64,...,154,285,239,83,251,270,61,227,147,253
3,2025,Pat,25,66,2,1144,6,American,16,68,...,349,303,248,181,364,58,34,218,163,329
4,2025,B12,7,66,2,1143,8,Arizona,4,16,...,52,74,129,225,16,18,143,25,87,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,BE,8,1,1,5,235,West Virginia,7,16,...,225,18,115,181,61,209,16,22,32,49
1143,2008,SB,26,1,1,4,236,Western Kentucky,12,16,...,111,160,179,55,131,127,214,27,28,203
1144,2008,BSth,10,4,4,3,239,Winthrop,13,64,...,301,231,206,89,236,339,190,170,12,179
1145,2008,B10,6,3,3,2,240,Wisconsin,3,16,...,301,51,35,98,12,118,117,60,2,57
1146,2008,A10,1,1,1,1,244,Xavier,3,8,...,225,149,92,63,147,20,86,4,44,85

Trim `df` to the columns specified in Part One

In [6]:
# convert columns to lowercase, replacing spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('%', '')

# get columns to keep and assign them to the dataframe
kept_cols = ['year', 'team', 'team_id', 'conf', 'quad_id', 'seed', 'round',
             'kadj_o', 'kadj_o_rank', 'kadj_d', 'kadj_d_rank', 'kadj_t', 'kadj_t_rank', 'kadj_em', 'kadj_em_rank',
             'badj_o', 'badj_o_rank', 'badj_d', 'badj_d_rank', 'barthag', 'barthag_rank',
             'efg', 'efg_rank', 'efgd', 'efgd_rank', 'tov', 'tov_rank',
             'tovd', 'tovd_rank', 'oreb', 'oreb_rank', 'dreb', 'dreb_rank',
             'ftr', 'ftr_rank', 'ftrd', 'ftrd_rank', '2pt', '2pt_rank',
             '2ptd', '2ptd_rank', '3pt', '3pt_rank', '3ptd', '3ptd_rank',
             '3ptr', '3ptr_rank', '3ptrd', '3ptrd_rank', 'exp', 'exp_rank']
df = df[kept_cols]
df

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
0,2025,Akron,2,MAC,2,13,64,113.7490,66,107.1760,...,36.6,52,31.9,75,45.4,52,38.0,152,2.383,73
1,2025,Alabama,3,SEC,2,2,8,126.5980,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
2,2025,Alabama St.,4,SWAC,4,16,64,101.4540,271,110.6890,...,32.9,224,33.4,160,42.9,85,39.5,206,2.346,83
3,2025,American,6,Pat,2,16,68,102.0950,253,108.0710,...,35.1,106,33.6,171,44.8,58,35.7,80,2.039,181
4,2025,Arizona,8,B12,2,4,16,122.5670,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,West Virginia,235,BE,1,7,16,113.5700,33,93.4302,...,35.8,142,35.4,188,35.0,155,32.1,98,1.679,181
1143,2008,Western Kentucky,236,SB,1,12,16,111.0760,54,97.0110,...,38.6,34,32.5,48,32.4,211,31.6,87,2.066,55
1144,2008,Winthrop,239,BSth,4,13,64,99.6932,230,92.3864,...,37.4,79,31.0,23,31.7,231,42.8,332,1.963,89
1145,2008,Wisconsin,240,B10,3,3,16,113.6190,32,86.2081,...,35.9,135,31.1,24,31.1,246,32.8,122,1.939,98
1146,2008,Xavier,244,A10,1,3,8,116.4130,12,94.0680,...,39.2,25,33.5,82,37.1,99,37.8,276,2.038,63

The First Four play-in has matchups contains two 16-seeds and typically two 11-seeds. This will cause confusion in our models, so let's focus on the teams that make the 64-team tournament.

In [7]:
# filter out first four losers
df = df[df['round'] != 68]
df

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
0,2025,Akron,2,MAC,2,13,64,113.7490,66,107.1760,...,36.6,52,31.9,75,45.4,52,38.0,152,2.383,73
1,2025,Alabama,3,SEC,2,2,8,126.5980,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
2,2025,Alabama St.,4,SWAC,4,16,64,101.4540,271,110.6890,...,32.9,224,33.4,160,42.9,85,39.5,206,2.346,83
4,2025,Arizona,8,B12,2,4,16,122.5670,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
5,2025,Arkansas,10,SEC,3,10,16,112.9430,73,95.2503,...,33.3,204,31.9,75,36.7,242,39.5,206,1.364,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,West Virginia,235,BE,1,7,16,113.5700,33,93.4302,...,35.8,142,35.4,188,35.0,155,32.1,98,1.679,181
1143,2008,Western Kentucky,236,SB,1,12,16,111.0760,54,97.0110,...,38.6,34,32.5,48,32.4,211,31.6,87,2.066,55
1144,2008,Winthrop,239,BSth,4,13,64,99.6932,230,92.3864,...,37.4,79,31.0,23,31.7,231,42.8,332,1.963,89
1145,2008,Wisconsin,240,B10,3,3,16,113.6190,32,86.2081,...,35.9,135,31.1,24,31.1,246,32.8,122,1.939,98
1146,2008,Xavier,244,A10,1,3,8,116.4130,12,94.0680,...,39.2,25,33.5,82,37.1,99,37.8,276,2.038,63

Save updated file as CSV in the `clean_data` folder

In [8]:
# save df as csv
df.to_csv('./clean_data/kenpom_barttorvik_clean.csv', index=False)